header {
    flex-grow: 1;
    height: 100vh;
    color: #fff;
    background: linear-gradient(to bottom, #27b060, #27b060, #27b060);
    /* #8fe1b1 */
}

.Logo-Area {
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Avatar {
    width: 8rem;
    height: auto;
    border-radius: 100%;
    border: 5px solid #229452
}

ul {
    margin: 0;
}

ul li{
    margin-top: 1rem;
}